<div id="search_results">
	<% if @results.length > 0 %>
	<ul>
	<% @results.each do |result| %>
		<li>  <%= link_to result[0].title, :controller => "#{result[0].type}s", :action => "show", :id => result[0].id %> | <%= result[1] %></li>
	<% end %>
	<ul>
	<% else %>
		<h3>No Results for that search term.</h3>
	<% end %>
</div>