body {}

#header {
	text-align:left;
}

#main_body { 
	margin-left:10%;
	margin-right:10%;
	width:80%;
	text-align:left;
}

#welcome_div{
	width:600px;
	float:left;
}

#login_form {
	width:200px;

	
}

.card_note_display{
	padding:8px;
	border:1px solid;
	overflow:hidden;
}

.card_audio_display{
	padding:8px;
	border:1px solid;
	overflow:hidden;
}

.card_video_display{
	padding:8px;
	border:1px solid;
	overflow:hidden;
}

.card_embed_display{
	padding:8px;
	border:1px solid;
	overflow:hidden;
}

.card_image_display{
	padding:8px;
	border:1px solid;
	overflow:hidden;
}

.lesson_display{
	
}