<div class="card_note_display">
	<h4><%= link_to c.title, :controller => "cards", :action => "show", :id => c._id, :pub => "1", :version => c.version %><br/>
		<font size="smaller">&nbsp;by <%= link_to c.author, :controller => "users", :action => "public_data" %> on <%= c.created_at %> </font></h4>
		<p><%= image_tag c.post %></p>
		<%= render :partial => "layouts/show_tags", :locals => {:tags => c.tags.split(",") }%>
</div>
	
