<div id="new_card_ui">
	<h3>Edit Card</h3>
	<% if @card %>
		<p> 
			<% remote_form_for @card, :update => "tabs-1", :url => {:controller => "cards", :action => "update_ui"}, :html => { :method => "POST"} do |f| %>
				<%= render :partial => "cards/form_remote", :locals => {:f => f} %>
				<%= f.submit "Save" %>
			<% end %>
		</p>
	<% end %>
</div>